* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

canvas {
    display: none;
    margin: auto;
    background: black;
}

#choices button,
#decision button,
#startScreen button {
    margin: 10px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
}

#choices, #decision {
    display: none;
}

#decision button {
    width: 120px;
}

#startScreen {
    margin-top: 40%;
}